*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  min-height: 800px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;

}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute; 
  width: 1px; 
  height: 1px;
  margin: -1px; 
  padding: 0; 
  border: 0; 
  clip: rect(0 0 0 0); 
  overflow: hidden; 
}

.content {
  display: flex;
  gap: 30px;
  width: 1140px;
  height: 534px;
  justify-content: space-between;
  margin: 133px 30px;
}

.content__list {
  position: relative;
}

.result__video {
  width: 711px;
  height: 386px;
  object-fit: cover;
  object-position: center;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-top: 78px;
}

.search-form {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 4px;
}

.search-form__textfield {
  appearance: none;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-right: none;
  border-left: none;
  background-color: transparent;
  width: 225px;
  color: rgba(255, 255, 255, 0.70);
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
} 

.search-form__label:not(:last-child) {
  margin-right: 15px;
}

.search-form__label:hover {
  cursor: pointer;
  text-decoration: underline;
}

.search-form__pseudo-checkbox:hover {
  cursor: pointer;
  text-decoration: underline;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
}

.search-form__label .search-form__pseudo-checkbox {
  display: inline-block;
}

.search-form__checkbox[type='checkbox'] + .search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  background-color: transparent;
  border: 1px solid #FFF;
}

.search-form__checkbox[type='checkbox']:checked + .search-form__pseudo-checkbox {
  background-image: url(../images/check.svg);
  background-repeat: repeat;
  background-position: center;
  background-size: contain;
  border: none;
}

.search-form__submit-button {
  display: flex;
  width: 194px;
  height: 34px;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  color: #FFF;
  background-color: transparent;
  border: 1px solid #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 20px;
}

.search-form__submit-button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.button:active {
  background: #545050;
}

.title {
  color: #FFF;
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  margin-top: 3px;
}

.content__details {
  min-width: 399px;
}

.content__accent {
  color: #545050;
  font-family: Oswald , sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

.content__list {
  max-height: 300px;
  margin-top: 22px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 5px;
  padding-top: 2px;
}

.content__list-item:not(:first-of-type) {
  margin-top: 30px;
}

.content__video-card:active {
  background: #545050;
}

.content__video-card {
  display: flex;
  min-height: 103px;
}

.content__video-card:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #fff;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
}

.content__video-card-title {
  padding-top: 7px;
  color: #FFF;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  width: 200px;
  margin-bottom: 6px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content__video-card-description {
  color: #FFF;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px;
  width: 200px;
  white-space: wrap;
}

.content__card-link {
  text-decoration: none;
}

.content__card-link:focus {
  outline: none;
}

/*.content__card-link:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
} фокус на ссылку почему-то не работает. Раобтает на карточку - уточнить.*/

.content__list-item:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
} 

.content__list-item:has(.content__card-link_current) {
  background: #545050;
}

.more-button {
  display: flex;
  width: 399px;
  height: 34px;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  color: #FFF;
  background-color: transparent;
  border: 1px solid #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 30px;
}

.more-button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}
